.dropdown {
  position: absolute;
  right: 0;
  left: 40px;
  top: 40px;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0.5rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
  color: #3e7ddb;
  /* font-weight: bold; */
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 154px;
  top: 15px;
}